.faqContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-7);
}

.item {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--spacing-7);
  border-bottom: 1px solid grey;
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questionText {
  font-size: var(--heading-5);
  font-weight: 600;
  color: var(--title-color);
  margin-bottom: 0;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.75s ease;
}

.answer p {
  padding-top: var(--spacing-4);
  max-width: 90%;
}

.item.active .answer {
  max-height: 300px;
}

.arrow {
  font-size: 3rem;
  margin-left: 1em;
  color: var(--title-color);
  transition: transform 0.5s ease-in-out;
}

.item.active .arrow {
  transform: rotate(-90deg);
}

@media screen and (min-width: 768px) {
  .arrow {
    font-size: 32px !important;
  }
}
