.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-size: var(--heading-6);
  font-weight: bold;
}

.linksContainer {
  display: flex;
  gap: var(--spacing-8);
}
