.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: var(--spacing-6);
}

.filterBy {
  font-weight: 600;
  color: var(--title-color);
  font-size: var(--text-md-sm);
}

.filterContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-4);
}

.filterItem {
  text-align: center;
  min-width: 150px;
  cursor: pointer;
  padding: var(--spacing-2) var(--spacing-3);
  border-radius: var(--spacing-1);
  background-color: var(--primary-color);
  font-size: var(--text-sm);
  color: var(--bg-text);
  transition: 200ms;
}

.filterItem:hover {
  background-color: var(--secondary-color);
  color: var(--title-color);
}
