.value-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.value-grid .child-1 {
  grid-area: 1 / 1 / 2 / 2;
}

.value-grid .child-2 {
  grid-area: 1 / 2 / 3 / 3;
}
.value-grid .child-3 {
  grid-area: 1 / 3 / 2 / 4;
}
.value-grid .child-4 {
  grid-area: 2 / 1 / 3 / 2;
}
.value-grid .child-5 {
  grid-area: 2 / 3 / 3 / 4;
}
.value-grid .child-6 {
  grid-area: 3 / 2 / 4 / 3;
}
